<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<searchdatapool>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = '2015' startmonth='4' startday='23' endyear = '2018' timestep='16D'></period>

<process processid ='resampleSpatialModisRegion' dsversion = '1.3'>
<parameters xres = '9266.26'  yres = '9266.26' resample='average' asscript='False' suffix = 'v006-tg01-9km'></parameters>
<srcpath volume = "africa"></srcpath>
<dstpath volume = "africa"></dstpath>
<srccomp>
<TWIpercent source = "MCD43A4v006" product = "MCD43A4" folder = "TWIpercent-fill" band = "TWIpercent" prefix = "TWIpercent" suffix = "v006-tg01">
</TWIpercent>
</srccomp>
</process>

</searchdatapool>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>