<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsaharaproject>
<userproj userid = 'karttur' projectid = 'karttur-africasubsahara' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = "2003" endyear = "2016" timestep='timespan-A'></period>

<!-- Tile statistical GRACE data to the region (karttur-okadelta)
The GRACE data must be processed
If you set the parameter "asscript" to True (= default),
you have to execute the shell script file as reorted by the processor,
and then rerun the xml with overwrite set to False to add the layers to the database
-->

<!-- All tiling is done to a spatial resolution of 111 km (111195.12 m) whihc corresponds to
the original spatial resolution of 1 deg -->

<process processid = 'tileRegionToModisAncillary' version = '1.3'>
<overwrite>False</overwrite>
<parameters src_defregid = 'global' epsg = '6842'  xres = '111195.12'  yres = '111195.12' resample='near' asscript='N' suffix = 'RL05-f-A-1deg'></parameters>
<srcpath volume = "travel"></srcpath>
<dstpath volume = "travel"></dstpath>
<srccomp>
<avg-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-stats" band = "avg-grace-ave" prefix = "avg-grace-ave" suffix = "RL05-f-A">
</avg-grace-ave>
<ols-ic-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-ic-grace-ave" prefix = "ols-ic-grace-ave" suffix = "RL05-f-A">
</ols-ic-grace-ave>
<ts-ic-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-ic-grace-ave" prefix = "ts-ic-grace-ave" suffix = "RL05-f-A">
</ts-ic-grace-ave>
<ols-sl-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-sl-grace-ave" prefix = "ols-sl-grace-ave" suffix = "RL05-f-A">
</ols-sl-grace-ave>
<ts-mdsl-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-mdsl-grace-ave" prefix = "ts-mdsl-grace-ave" suffix = "RL05-f-A">
</ts-mdsl-grace-ave>
<ts-losl-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-losl-grace-ave" prefix = "ts-losl-grace-ave" suffix = "RL05-f-A">
</ts-losl-grace-ave>
<ts-hisl-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-hisl-grace-ave" prefix = "ts-hisl-grace-ave" suffix = "RL05-f-A">
</ts-hisl-grace-ave>
<std-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-stats" band = "std-grace-ave" prefix = "std-grace-ave" suffix = "RL05-f-A">
</std-grace-ave>
<ols-rmse-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-rmse-grace-ave" prefix = "ols-rmse-grace-ave" suffix = "RL05-f-A">
</ols-rmse-grace-ave>
<mk-z-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "mk-z-grace-ave" prefix = "mk-z-grace-ave" suffix = "RL05-f-A">
</mk-z-grace-ave>
<ols-r2-grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-r2-grace-ave" prefix = "ols-r2-grace-ave" suffix = "RL05-f-A">
</ols-r2-grace-ave>
</srccomp>
</process>

<process processid = 'tileRegionToModisAncillary' version = '1.3'>
<overwrite>False</overwrite>
<parameters src_defregid = 'global' epsg = '6842'  xres = '111195.12'  yres = '111195.12' resample='near' asscript='N' suffix = 'model-RL05-f-A-1deg'></parameters>
<srcpath volume = "travel"></srcpath>
<dstpath volume = "travel"></dstpath>
<srccomp>
<grace-ave-change source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-change" band = "grace-ave-change" prefix = "grace-ave-change" suffix = "model-RL05-f-A">
</grace-ave-change>
</srccomp>
</process>

<process processid = 'tileRegionToModisAncillary' version = '1.3'>
<overwrite>False</overwrite>
<parameters src_defregid = 'global' epsg = '6842'  xres = '111195.12'  yres = '111195.12' resample='near' asscript='N' suffix = 'slope@p-RL05-f-A-1deg'></parameters>
<srcpath volume = "travel"></srcpath>
<dstpath volume = "travel"></dstpath>
<srccomp>
<grace-ave-delta source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-change" band = "grace-ave-delta" prefix = "grace-ave-delta" suffix = "slope@p-RL05-f-A">
</grace-ave-delta>
</srccomp>
</process>

<process processid = 'tileRegionToModisAncillary' version = '1.3'>
<overwrite>False</overwrite>
<parameters src_defregid = 'global' epsg = '6842'  xres = '111195.12'  yres = '111195.12' resample='near' asscript='False' suffix = 'model@p-RL05-f-A-1deg'></parameters>
<srcpath volume = "travel"></srcpath>
<dstpath volume = "travel"></dstpath>
<srccomp>
<grace-ave-change source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-change" band = "grace-ave-change" prefix = "grace-ave-change" suffix = "model@p-RL05-f-A">
</grace-ave-change>
</srccomp>
</process>
</africasubsaharaproject>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>