<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<extractseason>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = '2016' endyear = '2018' timestep='16D'></period>

<process processid ='assimilateModisRegion' dsversion = '1.3'>
<parameters maxthreshold='75' dstmin='0' dstmax='200' assimsuffix='test' dstsuffix='v006-tg01-asf05' assimfrac ='0.5'
kernel='0'
></parameters>
<acceptmissing>False</acceptmissing>
<overwrite>False</overwrite>
<srcpath volume = "africa"></srcpath>
<dstpath volume = "africa"></dstpath>
<srccomp>
<TWIpercent id = 'slave' source = "MCD43A4v006" product = "MCD43A4" folder = "TWIpercent-fill" band = "TWIpercent" prefix = "TWIpercent" suffix = "v006-tg01">
</TWIpercent>
</srccomp>
</process>

</extractseason>

```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>