<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsaharaproject>
<userproj userid = 'karttur' projectid = 'karttur-africasubsahara' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = "2001" endyear = "2018" timestep='A'></period>

<!-- export  -->


<process processid = 'exporttobytemodisRegionToTiles' version = '1.3'>
<overwrite>False</overwrite>
<parameters palette= 'twi'></parameters>
<srcpath volume = "africa" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "africa" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<TWIpercent id ='TWIpercent' source = "MCD43A4v006" product = "MCD43A4" folder = "TWIpercent-fill-assim-a" band = "TWIpercent" prefix = "TWIpercent" suffix = "v006-tg01-asf05-a">
</TWIpercent>
</srccomp>
</process>

</africasubsaharaproject>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>