<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsahara>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = "1998" endyear = "2017" timestep='timespan-A'></period>

<!-- Export statistical VWB to paletted byte images
Palettes, scalings and legends must be defined -->

<!-- Export annual average -->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<avg-trmm-fao-vwb id = 'layer1' source = "trmm-vwb" product = "3b43" folder = "vwb-A-stats" band = "avg-trmm-fao-vwb" prefix = "avg-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</avg-trmm-fao-vwb>
<ols-ic-trmm-fao-vwb id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-ic-trmm-fao-vwb" prefix = "ols-ic-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ols-ic-trmm-fao-vwb>
<ts-ic-trmm-fao-vwb id = 'layer3' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-ic-trmm-fao-vwb" prefix = "ts-ic-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ts-ic-trmm-fao-vwb>
</srccomp>
</process>

<!-- Export model slopes -->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<ols-sl-trmm-fao-vwb id = 'layer4' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-sl-trmm-fao-vwb" prefix = "ols-sl-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ols-sl-trmm-fao-vwb>
<ts-mdsl-trmm-fao-vwb id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-mdsl-trmm-fao-vwb" prefix = "ts-mdsl-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ts-mdsl-trmm-fao-vwb>
<ts-losl-trmm-fao-vwb id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-losl-trmm-fao-vwb" prefix = "ts-losl-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ts-losl-trmm-fao-vwb>
<ts-hisl-trmm-fao-vwb id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-hisl-trmm-fao-vwb" prefix = "ts-hisl-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ts-hisl-trmm-fao-vwb>
</srccomp>
</process>

<!-- Export std + rmse A -->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<std-trmm-fao-vwb id = 'layer' source = "trmm-vwb" product = "3b43" folder = "vwb-A-stats" band = "std-trmm-fao-vwb" prefix = "std-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</std-trmm-fao-vwb>
<ols-rmse-trmm-fao-vwb id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-rmse-trmm-fao-vwb" prefix = "ols-rmse-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ols-rmse-trmm-fao-vwb>
</srccomp>
</process>

<!-- Export mannkendall Z and r2-->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'zhydro'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<mk-z-trmm-fao-vwb id='layer' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "mk-z-trmm-fao-vwb" prefix = "mk-z-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</mk-z-trmm-fao-vwb>
<ols-r2-trmm-fao-vwb id='layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-r2-trmm-fao-vwb" prefix = "ols-r2-trmm-fao-vwb" suffix = "v7-f-m-A-30km">
</ols-r2-trmm-fao-vwb>
</srccomp>
</process>

<!-- Export changes -->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-change id = 'layer1' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-change" prefix = "trmm-fao-vwb-change" suffix = "model-v7-f-m-A-30km">
</trmm-fao-vwb-change>
<trmm-fao-vwb-delta id = 'layer3' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-delta" prefix = "trmm-fao-vwb-delta" suffix = "slope@p-v7-f-m-A-30km">
</trmm-fao-vwb-delta>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-change id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-change" prefix = "trmm-fao-vwb-change" suffix = "model@p-v7-f-m-A-30km">
</trmm-fao-vwb-change>
</srccomp>
</process>

<!-- surplus -->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<avg-trmm-fao-vwb-surplus id = 'layer1' source = "trmm-vwb" product = "3b43" folder = "vwb-A-stats" band = "avg-trmm-fao-vwb-surplus" prefix = "avg-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</avg-trmm-fao-vwb-surplus>
<ols-ic-trmm-fao-vwb-surplus id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-ic-trmm-fao-vwb-surplus" prefix = "ols-ic-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ols-ic-trmm-fao-vwb-surplus>
<ts-ic-trmm-fao-vwb-surplus id = 'layer3' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-ic-trmm-fao-vwb-surplus" prefix = "ts-ic-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ts-ic-trmm-fao-vwb-surplus>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<ols-sl-trmm-fao-vwb-surplus id = 'layer4' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-sl-trmm-fao-vwb-surplus" prefix = "ols-sl-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ols-sl-trmm-fao-vwb-surplus>
<ts-mdsl-trmm-fao-vwb-surplus id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-mdsl-trmm-fao-vwb-surplus" prefix = "ts-mdsl-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ts-mdsl-trmm-fao-vwb-surplus>
<ts-losl-trmm-fao-vwb-surplus id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-losl-trmm-fao-vwb-surplus" prefix = "ts-losl-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ts-losl-trmm-fao-vwb-surplus>
<ts-hisl-trmm-fao-vwb-surplus id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-hisl-trmm-fao-vwb-surplus" prefix = "ts-hisl-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ts-hisl-trmm-fao-vwb-surplus>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<std-trmm-fao-vwb-surplus id = 'layer' source = "trmm-vwb" product = "3b43" folder = "vwb-A-stats" band = "std-trmm-fao-vwb-surplus" prefix = "std-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</std-trmm-fao-vwb-surplus>
<ols-rmse-trmm-fao-vwb-surplus id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-rmse-trmm-fao-vwb-surplus" prefix = "ols-rmse-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ols-rmse-trmm-fao-vwb-surplus>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'zhydro'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<mk-z-trmm-fao-vwb-surplus id='layer' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "mk-z-trmm-fao-vwb-surplus" prefix = "mk-z-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</mk-z-trmm-fao-vwb-surplus>
<ols-r2-trmm-fao-vwb-surplus id='layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-r2-trmm-fao-vwb-surplus" prefix = "ols-r2-trmm-fao-vwb-surplus" suffix = "v7-f-m-A-30km">
</ols-r2-trmm-fao-vwb-surplus>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-surplus-change id = 'layer1' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-surplus-change" prefix = "trmm-fao-vwb-surplus-change" suffix = "model-v7-f-m-A-30km">
</trmm-fao-vwb-surplus-change>
<trmm-fao-vwb-surplus-delta id = 'layer3' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-surplus-delta" prefix = "trmm-fao-vwb-surplus-delta" suffix = "slope@p-v7-f-m-A-30km">
</trmm-fao-vwb-surplus-delta>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-surplus-change id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-surplus-change" prefix = "trmm-fao-vwb-surplus-change" suffix = "model@p-v7-f-m-A-30km">
</trmm-fao-vwb-surplus-change>
</srccomp>
</process>

<!-- deficit -->
<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<avg-trmm-fao-vwb-deficit id = 'layer1' source = "trmm-vwb" product = "3b43" folder = "vwb-A-stats" band = "avg-trmm-fao-vwb-deficit" prefix = "avg-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</avg-trmm-fao-vwb-deficit>
<ols-ic-trmm-fao-vwb-deficit id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-ic-trmm-fao-vwb-deficit" prefix = "ols-ic-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ols-ic-trmm-fao-vwb-deficit>
<ts-ic-trmm-fao-vwb-deficit id = 'layer3' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-ic-trmm-fao-vwb-deficit" prefix = "ts-ic-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ts-ic-trmm-fao-vwb-deficit>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<ols-sl-trmm-fao-vwb-deficit id = 'layer4' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-sl-trmm-fao-vwb-deficit" prefix = "ols-sl-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ols-sl-trmm-fao-vwb-deficit>
<ts-mdsl-trmm-fao-vwb-deficit id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-mdsl-trmm-fao-vwb-deficit" prefix = "ts-mdsl-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ts-mdsl-trmm-fao-vwb-deficit>
<ts-losl-trmm-fao-vwb-deficit id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-losl-trmm-fao-vwb-deficit" prefix = "ts-losl-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ts-losl-trmm-fao-vwb-deficit>
<ts-hisl-trmm-fao-vwb-deficit id = 'layer5' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ts-hisl-trmm-fao-vwb-deficit" prefix = "ts-hisl-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ts-hisl-trmm-fao-vwb-deficit>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<std-trmm-fao-vwb-deficit id = 'layer' source = "trmm-vwb" product = "3b43" folder = "vwb-A-stats" band = "std-trmm-fao-vwb-deficit" prefix = "std-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</std-trmm-fao-vwb-deficit>
<ols-rmse-trmm-fao-vwb-deficit id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-rmse-trmm-fao-vwb-deficit" prefix = "ols-rmse-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ols-rmse-trmm-fao-vwb-deficit>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'zhydro'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<mk-z-trmm-fao-vwb-deficit id='layer' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "mk-z-trmm-fao-vwb-deficit" prefix = "mk-z-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</mk-z-trmm-fao-vwb-deficit>
<ols-r2-trmm-fao-vwb-deficit id='layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-trend" band = "ols-r2-trmm-fao-vwb-deficit" prefix = "ols-r2-trmm-fao-vwb-deficit" suffix = "v7-f-m-A-30km">
</ols-r2-trmm-fao-vwb-deficit>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-deficit-change id = 'layer1' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-deficit-change" prefix = "trmm-fao-vwb-deficit-change" suffix = "model-v7-f-m-A-30km">
</trmm-fao-vwb-deficit-change>
<trmm-fao-vwb-deficit-delta id = 'layer3' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-deficit-delta" prefix = "trmm-fao-vwb-deficit-delta" suffix = "slope@p-v7-f-m-A-30km">
</trmm-fao-vwb-deficit-delta>
</srccomp>
</process>

<process processid = 'exporttobytemodisRegionToRegion' version = '1.3'>
<overwrite>True</overwrite>
<parameters palette= 'vwb'></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-deficit-change id = 'layer2' source = "trmm-vwb" product = "3b43" folder = "vwb-A-change" band = "trmm-fao-vwb-deficit-change" prefix = "trmm-fao-vwb-deficit-change" suffix = "model@p-v7-f-m-A-30km">
</trmm-fao-vwb-deficit-change>
</srccomp>
</process>
</africasubsahara>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>