<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsaharaproject>
<userproj userid = 'karttur' projectid = 'karttur-africasubsahara' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<!-- In this xml the period is set equal to the period of the GRACE data -->
<period startyear = "2003" endyear = "2016" timestep='timespan-A'></period>

<!-- mosaic modis TRMM statistical tiles to region (karttur-africasubsahara)
The spatial resolution is set equal to the GRACE data (1 deg) -->
<process processid = 'MosaicModis' version = '1.3'>
<overwrite>False</overwrite>
<parameters t_epsg ='4326' xres='1.0' yres='1.0'></parameters>
<srcpath volume = "travel"></srcpath>
<dstpath volume = "travel"></dstpath>
<srccomp>
<avg-trmm-3b43v7-precip id='avg-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-stats" band = "avg-trmm-3b43v7-precip" prefix = "avg-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</avg-trmm-3b43v7-precip>
<ols-ic-trmm-3b43v7-precip id='ols-ic-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ols-ic-trmm-3b43v7-precip" prefix = "ols-ic-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ols-ic-trmm-3b43v7-precip>
<ts-ic-trmm-3b43v7-precip id='ts-ic-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ts-ic-trmm-3b43v7-precip" prefix = "ts-ic-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ts-ic-trmm-3b43v7-precip>
<ols-sl-trmm-3b43v7-precip id='ols-sl-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ols-sl-trmm-3b43v7-precip" prefix = "ols-sl-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ols-sl-trmm-3b43v7-precip>
<ts-mdsl-trmm-3b43v7-precip id='ts-mdsl-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ts-mdsl-trmm-3b43v7-precip" prefix = "ts-mdsl-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ts-mdsl-trmm-3b43v7-precip>
<ts-losl-trmm-3b43v7-precip id='ts-losl-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ts-losl-trmm-3b43v7-precip" prefix = "ts-losl-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ts-losl-trmm-3b43v7-precip>
<ts-hisl-trmm-3b43v7-precip id='ts-hisl-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ts-hisl-trmm-3b43v7-precip" prefix = "ts-hisl-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ts-hisl-trmm-3b43v7-precip>
<std-trmm-3b43v7-precip id='std-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-stats" band = "std-trmm-3b43v7-precip" prefix = "std-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</std-trmm-3b43v7-precip>
<ols-rmse-trmm-3b43v7-precip id='ols-rmse-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ols-rmse-trmm-3b43v7-precip" prefix = "ols-rmse-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ols-rmse-trmm-3b43v7-precip>
<mk-z-trmm-3b43v7-precip id='mk-z-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "mk-z-trmm-3b43v7-precip" prefix = "mk-z-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</mk-z-trmm-3b43v7-precip>
<ols-r2-trmm-3b43v7-precip id='ols-r2-trmm-3b43v7-precip' source = "trmm" product = "3b43" folder = "rainfall-A-trend" band = "ols-r2-trmm-3b43v7-precip" prefix = "ols-r2-trmm-3b43v7-precip" suffix = "v7-f-m-A-1deg">
</ols-r2-trmm-3b43v7-precip>
<trmm-3b43v7-precip-change id='trmm-3b43v7-precip-change' source = "trmm" product = "3b43" folder = "rainfall-A-change" band = "trmm-3b43v7-precip-change" prefix = "trmm-3b43v7-precip-change" suffix = "model-v7-f-m-A-1deg">
</trmm-3b43v7-precip-change>
<trmm-3b43v7-precip-delta id='trmm-3b43v7-precip-delta' source = "trmm" product = "3b43" folder = "rainfall-A-change" band = "trmm-3b43v7-precip-delta" prefix = "trmm-3b43v7-precip-delta" suffix = "slope@p-v7-f-m-A-1deg">
</trmm-3b43v7-precip-delta>
</srccomp>
</process>

<!--  Second process required due to duplicate compid -->
<process processid = 'MosaicModis' version = '1.3'>
<overwrite>True</overwrite>
<parameters t_epsg ='4326' xres='1.0' yres='1.0'></parameters>
<srcpath volume = "travel"></srcpath>
<dstpath volume = "travel"></dstpath>
<srccomp>
<trmm-3b43v7-precip-change id='trmm-3b43v7-precip-change' source = "trmm" product = "3b43" folder = "rainfall-A-change" band = "trmm-3b43v7-precip-change" prefix = "trmm-3b43v7-precip-change" suffix = "model@p-v7-f-m-A-1deg">
</trmm-3b43v7-precip-change>
</srccomp>
</process>
</africasubsaharaproject>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>