<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsahara>

<userproj userid = 'karttur' projectid = 'karttur-africasubsahara' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = '2015' startmonth = '5' endyear = '2019' endmonth = '1' endday='31' timestep='M'></period>

<!-- tile the monthly SMAP data to the region (karttur-africasubsahara).
The SMAP data must be downloaded, organized and resampled
If you set the parameter "asscript" to True (= default),
you have to execute the shell script file as reported by the process,
and then rerun the xml with overwrite set to False to add the layers to the database
-->

<!-- The process below tile the SMAP data to its original resolution of approximately 9 km (9266.26 m) -->
<process processid = 'ArchiveModisRegionTiles' version = '1.3'>
<overwrite>False</overwrite>
<parameters></parameters>
<srcpath volume = "africa" hdrfiletype='tif'></srcpath>
<dstpath volume = "africa" hdrfiletype='zip'></dstpath>
<srccomp>
<soil-moisture-avg-m source = "SPL3SMP-E.002" product = "SPL3SMP-E" folder = "soil-moisture-avg-m" band = "soil-moisture-avg-m" prefix = "soil-moisture-avg-m" suffix = "002-9km">
</soil-moisture-avg-m>
</srccomp>
</process>

<!-- The process below tiles the same data, but at a spatial resolution of 27798.78 m -->
<process processid = 'ArchiveModisRegionTiles' version = '1.3'>
<overwrite>False</overwrite>
<parameters></parameters>
<srcpath volume = "africa" hdrfiletype='tif'></srcpath>
<dstpath volume = "africa" hdrfiletype='zip'></dstpath>
<srccomp>
<soil-moisture-avg-m source = "SPL3SMP.005" product = "SPL3SMP" folder = "soil-moisture-avg-m" band = "soil-moisture-avg-m" prefix = "soil-moisture-avg-m" suffix = "005-30km">
</soil-moisture-avg-m>
</srccomp>
</process>

<!-- The process below tiles the same data, but at a spatial resolution of approx 1 deg (111195.12)  -->
<process processid = 'ArchiveModisRegionTiles' version = '1.3'>
<overwrite>False</overwrite>
<parameters></parameters>
<srcpath volume = "africa" hdrfiletype='tif'></srcpath>
<dstpath volume = "africa" hdrfiletype='zip'></dstpath>
<srccomp>
<soil-moisture-avg-m source = "SPL3SMP.005" product = "SPL3SMP" folder = "soil-moisture-avg-m" band = "soil-moisture-avg-m" prefix = "soil-moisture-avg-m" suffix = "005-1deg">
</soil-moisture-avg-m>
</srccomp>
</process>

</africasubsahara>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>