<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<searchdatapool>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = '2001' endyear = '2018' timestep='16D'></period>

<process processid ='seasonfilltsModisRegion' dsversion = '1.3'>
<acceptmissing>True</acceptmissing>
<parameters></parameters>
<srcpath volume = "TILES"></srcpath>
<dstpath volume = "TILES"></dstpath>

<srccomp>
<TWIpercent source = "MCD43A4v006" product = "MCD43A4" folder = "TWIpercent" band = "TWIpercent" prefix = "TWIpercent" suffix = "v006-tg01">
</TWIpercent>
</srccomp>

</process>
</searchdatapool>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>