<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsahara>
<userproj userid = 'karttur' projectid = 'karttur-africasubsahara' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = "2003" endyear = "2016" timestep='A'></period>

<!-- Trend calculation -->
<process processid = 'trendtsmodis' version = '1.3'>
<overwrite>True</overwrite>
<parameters method = 'avg' ></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb source = "trmm-vwb" product = "3b43" folder = "vwb-A" band = "trmm-fao-vwb" prefix = "trmm-fao-vwb" suffix = "v7-f-m-A-1deg">
</trmm-fao-vwb>
</srccomp>
<stats id = 'avg' band = "avg"></stats>
<stats id= 'std' band = "std"></stats>
<stats id= 'mk' band = "mk"></stats>
<stats id= 'ols' band = "ols"></stats>
</process>

<process processid = 'trendtsmodis' version = '1.3'>
<overwrite>False</overwrite>
<parameters method = 'avg' ></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-surplus source = "trmm-vwb" product = "3b43" folder = "vwb-A" band = "trmm-fao-vwb-surplus" prefix = "trmm-fao-vwb-surplus" suffix = "v7-f-m-A-1deg">
</trmm-fao-vwb-surplus>
</srccomp>
<stats id = 'avg' band = "avg"></stats>
<stats id= 'std' band = "std"></stats>
<stats id= 'mk' band = "mk"></stats>
<stats id= 'ols' band = "ols"></stats>
</process>

<process processid = 'trendtsmodis' version = '1.3'>
<overwrite>False</overwrite>
<parameters method = 'avg' ></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-fao-vwb-deficit source = "trmm-vwb" product = "3b43" folder = "vwb-A" band = "trmm-fao-vwb-deficit" prefix = "trmm-fao-vwb-deficit" suffix = "v7-f-m-A-1deg">
</trmm-fao-vwb-deficit>
</srccomp>
<stats id = 'avg' band = "avg"></stats>
<stats id= 'std' band = "std"></stats>
<stats id= 'mk' band = "mk"></stats>
<stats id= 'ols' band = "ols"></stats>
</process>
</africasubsahara>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>