<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<africasubsaharaproject>
<userproj userid = 'karttur' projectid = 'karttur-africasubsahara' tractid= 'karttur-africasubsahara' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period startyear = '2015' startmonth='4' startday='23' endyear = '2018' timestep='16D'></period>

<!-- Create movie frame h19v10-->
<process processid = 'movieframeModisSingleTile' version = '1.3'>
<overwrite>False</overwrite>
<parameters htile='19' vtile='10' name = 'default' width = '400' crop='400,400,0,0' border='1' emboss='KARTTUR' embossdims='350,50' embossptsize='50' asscript='False'></parameters>
<srcpath volume = "africa" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "africa/movieclock" hdrfiletype = 'png' datfiletype = 'png'></dstpath>
<srccomp>
<soil-moisture-avg-16d id= 'smap' source = "SPL3SMP-E.002" product = "SPL3SMP-E" folder = "soil-moisture-avg-16d-fill" band = "soil-moisture-avg-16d" prefix = "soil-moisture-avg-16d" suffix = "002-modfit-9km">
</soil-moisture-avg-16d>
</srccomp>
</process>

<!-- Create movie frame h19v10-->
<process processid = 'movieframeModisSingleTile' version = '1.3'>
<overwrite>False</overwrite>
<parameters htile='19' vtile='10' name = 'default' width = '400' crop='400,400,0,0' border='1' emboss='KARTTUR' embossdims='350,50' embossptsize='50' asscript='False'></parameters>
<srcpath volume = "africa" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "africa/movieclock" hdrfiletype = 'png' datfiletype = 'png'></dstpath>
<srccomp>
<TWIpercent id ='TWIpercent' source = "MCD43A4v006" product = "MCD43A4" folder = "TWIpercent-fill" band = "TWIpercent" prefix = "TWIpercent" suffix = "v006-tg01-9km">
</TWIpercent>
</srccomp>
</process>

<process processid = 'movieframeModisAppendSingleTile' version = '1.3'>
<overwrite>False</overwrite>
<parameters htile='19' vtile='10' asscript='False'></parameters>
<srcpath volume = "africa/movieclock" hdrfiletype = 'png' datfiletype = 'png'></srcpath>
<dstpath volume = "africa/movieclockappend" hdrfiletype = 'png' datfiletype = 'png'></dstpath>
<srccomp>
<soil-moisture-avg-16d id= 'left' source = "SPL3SMP-E.002" product = "SPL3SMP-E" folder = "soil-moisture-avg-16d-fill" band = "soil-moisture-avg-16d" prefix = "soil-moisture-avg-16d" suffix = "002-modfit-9km">
</soil-moisture-avg-16d>
<TWIpercent id ='right' source = "MCD43A4v006" product = "MCD43A4" folder = "TWIpercent-fill" band = "TWIpercent" prefix = "TWIpercent" suffix = "v006-tg01-9km">
</TWIpercent>
</srccomp>
</process>

<process processid = 'movieclockModisSingleTile' version = '1.3'>
<overwrite>False</overwrite>
<parameters htile='19' vtile='10' name = 'twilr' width = '804' asscript='False'></parameters>
<dstpath volume = "africa/movieclockappend" hdrfiletype = 'png' datfiletype = 'png'></dstpath>
<dstcomp>
<soil-moisture-avg-16d id= 'left' source = "SPL3SMP-E.002" product = "SPL3SMP-E" folder = "soil-moisture-avg-16d-fill" band = "soil-moisture-avg-16d" prefix = "soil-moisture-avg-16d" suffix = "002-modfit-9km">
</soil-moisture-avg-16d>
</dstcomp>
</process>

</africasubsaharaproject>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>