<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<scaling>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur' siteid = '*' plotid = '*' system = 'system'></userproj>


<!-- Create scaling -->
cmwater-a-stats_avg-grace-ave

<!-- NOTE THE ID IS OLNLY USED IN THE SCRIPTING SO IT CAN HAVE (UNIQUE) DUMMY VALUES HERE -->
<!-- GRACE monthly cmwater-->
<processx processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters mirror0 ='True' scalefac='22' power='0.4'></parameters>
<comp id = '1' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-stats-A" band = 'avg-grace-ave' suffix = "RL05-filled"></comp>
</processx>

<!-- GRACE annual average cmwater -->
<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters mirror0 ='True' scalefac='10' power='0.67'></parameters>
<comp id = '1' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-stats-A" band = 'avg-grace-ave' suffix = "RL05-filled"></comp>
<comp id = '2' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-stats-A" band = 'std-grace-ave' suffix = "RL05-filled"></comp>
<comp id = '3' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ts-ic-grace-ave' suffix = "RL05-filled"></comp>
<comp id = '4' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ols-ic-grace-ave' suffix = "RL05-filled"></comp>
<comp id='5' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-stats" band = "avg-grace-ave"  suffix = "RL05-f-A-1deg"></comp>
<comp id='6' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-ic-grace-ave"  suffix = "RL05-f-A-1deg"></comp>
<comp id='7' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-ic-grace-ave"  suffix = "RL05-f-A-1deg"></comp>
<comp id='8' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-stats" band = "std-grace-ave"  suffix = "RL05-f-A-1deg"></comp>
</process>

<!-- GRACE mk-z trend -->
<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters scalefac='20' offsetadd='125'></parameters>
<comp id = '1' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'mk-z-grace-ave' suffix = "RL05-filled"></comp>
<comp  id='mk-z-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "mk-z-grace-ave" prefix = "mk-z-grace-ave" suffix = "RL05-f-A-1deg"></comp>
</process>

<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters mirror0 ='True' scalefac='15' power='0.67'></parameters>
<comp id = '1' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ts-mdsl-grace-ave' suffix = "RL05-filled"></comp>
<comp id = '2' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ts-losl-grace-ave' suffix = "RL05-filled"></comp>
<comp id = '3' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ts-hisl-grace-ave' suffix = "RL05-filled"></comp>
<comp id = '4' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ols-sl-grace-ave' suffix = "RL05-filled"></comp>

<comp id='ols-sl-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-sl-grace-ave" prefix = "ols-sl-grace-ave" suffix = "RL05-f-A-1deg"></comp>
<comp id='ts-mdsl-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-mdsl-grace-ave" prefix = "ts-mdsl-grace-ave" suffix = "RL05-f-A-1deg"></comp>
<comp id='ts-losl-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-losl-grace-ave" prefix = "ts-losl-grace-ave" suffix = "RL05-f-A-1deg"></comp>
<comp id='ts-hisl-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ts-hisl-grace-ave" prefix = "ts-hisl-grace-ave" suffix = "RL05-f-A-1deg"></comp>
</process>

<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters mirror0 ='True' scalefac='15' power='0.67' ></parameters>
<comp id = '1' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ols-rmse-grace-ave' suffix = "RL05-filled"></comp>
<comp id='ols-rmse-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-rmse-grace-ave" prefix = "ols-rmse-grace-ave" suffix = "RL05-f-A-1deg"></comp>
</process>

<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters scalefac='100'></parameters>
<comp id = '1' source = "NASA-GRACE" product = "ave-cmwater" folder = "cmwater-annual-trend-A" band = 'ols-r2-grace-ave' suffix = "RL05-filled"></comp>
<comp id='ols-r2-grace-ave' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-trend" band = "ols-r2-grace-ave" prefix = "ols-r2-grace-ave" suffix = "RL05-f-A-1deg"></comp>
</process>

<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters mirror0 ='True' scalefac='5' power='0.67'></parameters>
<comp id='grace-ave-change' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-change" band = "grace-ave-change" prefix = "grace-ave-change" suffix = "model-RL05-f-A-1deg">
</comp>
</process>

<process processid = 'createscaling' version = '1.3'>
<overwrite>True</overwrite>
<parameters mirror0 ='True' scalefac='25' power='0.67'></parameters>
<comp id='grace-ave-delta' source = "NASA-GRACE" product = "cmwater" folder = "cmwater-A-change" band = "grace-ave-delta" prefix = "grace-ave-delta" suffix = "slope@p-RL05-f-A-1deg"></comp>
</process>
</scaling>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>