<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<regionsmodis>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur' siteid = '*' plotid = '*' system = 'modis'></userproj>
<period timestep='static'></period>

<process processid ='LinkDefaultRegionsToMODIS' version = '3.0'>
<parameters> </parameters>
<overwrite>N</overwrite>
<srcpath volume = "karttur3tb" hdrfiletype = "shp" datfiletype = "shp"></srcpath>
<srccomp>
<modtiles source = "karttur" product = "modtiles" folder = "tiles" band = "modtiles" prefix = "modtiles" suffix = "lonlat">
</modtiles>
</srccomp>
</process>

</regionsmodis>




```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>